---
import type { RouteContext } from '@@sf/ssr-context';
import Base from '~/layouts/Base.astro';
import usePageLayout from '@@sf/layouts/use-page-layout';
import Picture from '@@sf/components/Picture.astro';
import PitchBar from '~/components/PitchBar.vue';
import ShopHeader from '~/components/ShopHeader.vue';

export interface Props {
  routeContext: RouteContext;
  title?: string;
}

const { routeContext, title } = Astro.props as Props;
const { settings, isHomepage } = routeContext;
const LogoHeading = isHomepage ? 'h1' : 'h2';
const { pitchBar, shopHeader } = await usePageLayout({ routeContext });
---

<Base routeContext={routeContext} title={title}>
  <slot name="header">
    <slot name="pitch-bar">
      {pitchBar.slides.length > 1 && <PitchBar {...pitchBar} client:idle />}
      {pitchBar.slides.length === 1 && <PitchBar {...pitchBar} />}
    </slot>
    <ShopHeader {...shopHeader} client:load>
      <Fragment slot="logo">
        <a href="/">
          <LogoHeading>
            <Picture
              slot="logo-picture"
              src={settings.logo}
              alt={settings.name}
              widths={[300]}
              fetchpriority="high"
              loading="eager"
              class="hover:drop-shadow-sm max-w-[150px] mx-auto"
            />
          </LogoHeading>
        </a>
      </Fragment>
    </ShopHeader>
  </slot>
  <slot />
</Base>
