html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a, button, button > *, [role=button], [role=button] > * {
  transition: background-color var(--transition),
    color var(--transition), border-color var(--transition),
    opacity var(--transition), transform var(--transition-fast);
}

.ui-link {
  @apply font-medium text-primary underline underline-offset-4
  hover:text-primary-bold active:text-primary-subtle;
}

[class*=ui-btn] {
  @apply inline-block text-base font-medium px-4 py-2 rounded
  border-2 border-transparent underline-offset-4 decoration-2
  shadow focus:ring-1 focus:ring-offset-1 active:ring-2;
}
.ui-btn-sm {
  @apply text-sm px-3 py-1.5 border-1;
}
.ui-btn-lg {
  @apply text-lg font-bold px-6 py-3 lg:text-base lg:py-2.5 active:ring-3;
}
.ui-btn-primary {
  @apply primary border-primary hover:primary-bold ring-primary/30;
}
.ui-btn-secondary {
  @apply bg-secondary-100/50 text-secondary border-secondary
  hover:secondary ring-secondary/30;
}
.ui-btn-contrast {
  @apply bg-white text-primary hover:bg-primary-100 ring-white/30
  decoration-primary-300 underline shadow-none;
}
.ui-btn-danger {
  @apply bg-danger-50 text-danger-700 border-danger-100
  hover:bg-danger-600 hover:text-white
  hover:border-danger-600 ring-danger-600/30;
}

.ui-text-brand, .ui-title {
  @apply font-brand font-black italic;
}
.ui-title {
  @apply text-3xl xl:text-5xl;
}

[class*=ui-badge] {
  @apply text-center px-2.5 py-0.5 rounded-md font-semibold
  inline-block bg-secondary-200 text-secondary-900;
}
[class*=ui-badge-pill] {
  @apply text-sm leading-relaxed py-0 rounded-full;
}
.ui-badge-pill-sm {
  @apply text-xs min-w-[1rem] px-0.5;
}
.ui-badge-pill-lg {
  @apply text-lg min-w-[1.75rem] px-2;
}

.ui-alert {
  @apply bg-warning-100 text-warning-800 border-warning-200
  border text-base rounded px-4 py-3;
}

[class*=ui-section] {
  @apply container 2xl:max-w-7xl mx-auto px-4 sm:px-2 my-6 md:my-8;
}
.ui-section {
  @apply sm:px-2 my-6 md:my-8;
}
.ui-section-slim {
  @apply my-3;
}
