---
import { usePageSections } from '@@sf/layouts/use-page-main';
import ContentClearfix from '@@sf/components/ContentClearfix.vue';
import BannersGrid from '~/components/BannersGrid.astro';
import Breadcrumbs from '~/components/Breadcrumbs.vue';
import ProductShelf from '~/components/ProductShelf.vue';
import DocDescription from '~/components/DocDescription.vue';
import DocBanners from '~/components/DocBanners.vue';
import ProductDetails from '~/components/ProductDetails.vue';
import ProductSpecifications from '~/components/ProductSpecifications.vue';
import SearchShowcase from '~/components/SearchShowcase.vue';
import PageTitle from '~/components/PageTitle.vue';
import ContentEntry from '~/components/ContentEntry.vue';

const { routeContext } = Astro.locals;
const { sections } = await usePageSections({
  routeContext,
  handleCustomSection: async (type, content) => {
    if (type === 'c:foo') return { props: { ...content, foo: 'bar' } };
    return { props: content };
  },
});
const { isHomepage } = routeContext;
/* `apiContext` is surelly set here (from Main.astro)
cause route resource is required to define sections from content. */
---

<article class="mt-6 mb-9 md:mt-8 md:mb-12">
  {sections.map(async ({ type, props }) => {
    switch (type) {
      case 'product-shelf':
        return isHomepage
          ? <ProductShelf {...props} client:idle />
          : <ProductShelf {...props} client:visible />
      case 'related-products':
        props.isRelatedProducts = true;
        return <ProductShelf {...props} client:visible />
      case 'banners-grid':
        return <BannersGrid {...props} />
      case 'breadcrumbs':
        return <Breadcrumbs />
      case 'doc-description':
        return <DocDescription />
      case 'doc-banners':
        return <DocBanners />
      case 'product-details':
        const { hasDescription, hasSpecifications, ...detailsProps } = props;
        return <>
          <ProductDetails {...detailsProps} client:context>
            <Fragment slot="description">
              {hasDescription && <DocDescription />}
              {hasSpecifications && <ProductSpecifications />}
            </Fragment>
          </ProductDetails>
        </>
      case 'search-showcase':
      case 'context-showcase':
        return <>
          <article class="min-h-[500px]">
            <SearchShowcase {...props} client:context />
          </article>
        </>
      case 'page-title':
        return <PageTitle {...props} />
      case 'content-entry':
        return <ContentEntry {...props} />
      case 'custom-html':
        return <ContentClearfix html={props.html} />
      case 'c:foo':
        return <div data-foo={props.foo}></div>
      default:
        return <div data-section={type}></div>
    }
  })}
</article>
