---
import type {
  Products,
  Categories,
  Brands,
  Collections,
} from '@cloudcommerce/api/types';
import { i19description } from '@@i18n';
import ContentClearfix from '@@sf/components/ContentClearfix.astro';

export interface Props {
  apiDoc: Partial<Products | Categories | Brands | Collections>;
  title?: string;
}

const { apiDoc, title } = Astro.props;
const html = apiDoc.body_html || apiDoc.body_text;
---

{html &&
  <section class="ui-section">
    <p class="text-2xl font-medium lowercase text-base-700">
      <a href="#description" id="description">
        <i class="i-link text-base-400 mr-0.5"></i>
        {title || i19description}
      </a>
    </p>
    <ContentClearfix html={html} />
  </section>
}
