---
import type {
  Products,
  Categories,
  Brands,
  Collections,
} from '@cloudcommerce/api/types';
import { i19description } from '@@i18n';
import ContentClearfix from '@@sf/components/ContentClearfix.astro';

export interface Props {
  apiDoc: Partial<Products | Categories | Brands | Collections>;
  title?: string;
}

const { apiDoc, title } = Astro.props;
const html = apiDoc.body_html || apiDoc.body_text;
---

{html &&
  <section class="ui-section">
    <details class="[&_i]:open:rotate-180" open>
      <summary role="button" class={`list-none text-2xl font-medium lowercase
        text-base-700 hover:text-base-800 [&>i]:hover:text-primary`}>
        <i class="i-chevron-down mr-1"></i>
        <span>{title || i19description}</span>
      </summary>
      <ContentClearfix html={html} />
    </details>
  </section>
}
