---
import { type RouteContext, loadRouteContext } from '@@sf/ssr-context';
import BaseHead from '@@sf/layouts/BaseHead.astro';
import cmsCustomCss from '@@sf/assets/decap-cms.css?inline';
import Base from '~/layouts/Base.astro';

let routeContext: RouteContext;
try {
  routeContext = await loadRouteContext(Astro);
} catch (err: any) {
  return err.astroResponse;
}
---

<!DOCTYPE html>
<html lang={routeContext.lang.replace('_', '-')}>
<Base>
  <Fragment slot="base-head">
    <BaseHead />
    <title>CMS</title>
    <style is:inline set:html={cmsCustomCss} />
  </Fragment>
  <script src="@@sf/scripts/decap-cms"></script>
</Base>
</html>
