---
import {
  i19home,
  i19error,
  i19errorMsg,
  i19notFound,
} from '@@i18n';
---

<main>
  <article class="prose mx-auto px-8 pt-20 pb-32">
    <h1>{i19error} :/</h1>
    <p class="hidden text-xl" id="errorMsg">
      {i19errorMsg}
    </p>
    <p class="hidden text-xl" id="404Msg">
      {i19notFound}
    </p>
    <p class="text-xl" id="loadingMsg">
      ... ... ...
    </p>
    <a href="/" class="text-2xl">
      <i class="i-arrow-right rotate-180 mr-1"></i>
      {i19home}
    </a>
  </article>
  <script>
    const msgId = window.location.search.includes('status=404')
      ? '404Msg' : '5xxMsg'
    document.getElementById(msgId)!.style.display = 'block';
    document.getElementById('loadingMsg')!.style.display = 'none';
  </script>
</main>
