---
import {
  i19home,
  i19error,
  i19errorMsg,
  i19notFound,
} from '@@i18n';

export interface Props {
  statusCode?: number;
}

const { statusCode } = Astro.props;
---

<main>
  <article class="mx-auto px-8 pb-32 pt-20 prose">
    <h1>{i19error} :/</h1>
    <p class={`${(!statusCode || statusCode === 404) ? 'hidden ' : ''}text-xl`} id="errorMsg">
      {i19errorMsg}
    </p>
    <p class={`${statusCode !== 404 ? 'hidden ' : ''}text-xl`} id="404Msg">
      {i19notFound} (404)
    </p>
    {!statusCode && <>
      <p class="text-xl" id="loadingMsg">
        ... ... ...
      </p>
    </>}
    <a href="/" class="text-2xl">
      <i class="mr-1 rotate-180 i-arrow-right"></i>
      {i19home}
    </a>
  </article>
  {!statusCode && <>
    <script>
      const msgId = window.location.search.includes('status=404')
        ? '404Msg' : '5xxMsg';
      document.getElementById(msgId)!.style.display = 'block';
      document.getElementById('loadingMsg')!.style.display = 'none';
    </script>
  </>}
</main>
