---
import usePageHero from '@@sf/layouts/main/use-page-hero';
import Banner from '@@sf/components/Banner.astro';
import HeroSlider from '~/components/HeroSlider.vue';
import Sections from '~/main/Sections.astro';

const { routeContext } = Astro.locals;
const { heroSlider } = await usePageHero({ routeContext });
const heroSlides = heroSlider.slides;
---

<main>
  {heroSlider.slides.length &&
    <HeroSlider {...heroSlider} client:load>
      {heroSlides[0] && <Banner slot="picture-0" {...heroSlides[0]} index={0} />}
      {heroSlides[1] && <Banner slot="picture-1" {...heroSlides[1]} index={1} />}
      {heroSlides[2] && <Banner slot="picture-2" {...heroSlides[2]} index={2} />}
      {heroSlides[3] && <Banner slot="picture-3" {...heroSlides[3]} index={3} />}
      {heroSlides[4] && <Banner slot="picture-4" {...heroSlides[4]} index={4} />}
      {heroSlides[5] && <Banner slot="picture-5" {...heroSlides[5]} index={5} />}
      {heroSlides[6] && <Banner slot="picture-6" {...heroSlides[6]} index={6} />}
      {heroSlides[7] && <Banner slot="picture-7" {...heroSlides[7]} index={7} />}
      {heroSlides[8] && <Banner slot="picture-8" {...heroSlides[8]} index={8} />}
      {heroSlides[9] && <Banner slot="picture-9" {...heroSlides[9]} index={9} />}
      <!-- https://github.com/withastro/astro/issues/5066#issuecomment-1277998365 -->
    </HeroSlider>
  }
  <Sections />
</main>
