---
import { usePageSections } from '@@sf/layouts/use-page-main';
import BannersGrid from '~/components/BannersGrid.astro';
import ProductShelf from '~/components/ProductShelf.vue';

const { routeContext } = Astro.locals;
const { sections } = await usePageSections({ routeContext });
---

<article class="my-9 md:my-12">
  {sections.map(({ type, props }) => {
    switch (type) {
      case 'product-shelf':
        return <ProductShelf {...props} client:visible />
      case 'banners-grid':
        return <BannersGrid {...props} />
      default:
        return <div data-section={type}></div>
    }
  })}
</article>
