---
import { usePageSections } from '@@sf/layouts/use-page-main';
import BannersGrid from '~/components/BannersGrid.astro';
import ProductShelf from '~/components/ProductShelf.vue';
import Breadcrumbs from '~/components/Breadcrumbs.astro';
import DocDescription from '~/components/DocDescription.vue';
import ProductDetails from '~/components/ProductDetails.vue';

const { routeContext } = Astro.locals;
const { sections } = await usePageSections({
  routeContext,
  handleCustomSection: async (type, content) => {
    if (type === 'c:foo') return { props: { ...content, foo: 'bar' } };
    return { props: content };
  },
});
/* `apiContext` is surelly set here (from Wildcard.astro)
cause route resource is required to define sections from content. */
---

<article class="my-9 md:my-12">
  {sections.map(async ({ type, props }) => {
    switch (type) {
      case 'product-shelf':
        return <ProductShelf {...props} client:visible />
      case 'banners-grid':
        return <BannersGrid {...props} />
      case 'breadcrumbs':
        return <Breadcrumbs {...props} />
      case 'doc-description':
        return <DocDescription {...props} />
      case 'product-details':
        return <ProductDetails {...props} client:context />
      case 'c:foo':
        return <div data-foo={props.foo}></div>
      default:
        return <div data-section={type}></div>
    }
  })}
</article>
