---
import api from '@cloudcommerce/api';
import SharedData from '@@sf/components/SharedData.astro';
import Sections from '~/main/Sections.astro';

const { fetchingApiContext } = Astro.locals.routeContext;
const [
  { data: { result: grids } },
] = await Promise.all([
  api.get('grids'),
  fetchingApiContext,
]);
---

<main>
  <SharedData field="grids" value={grids} />
  <Sections />
</main>
